* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
* .body-catalogo {
  background-color: whitesmoke;
}

.header-inicio {
  background-color: black;
}
.header-inicio .inicio-titulo-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-inicio .inicio-titulo-img .logo {
  width: 220px;
}
.header-inicio .inicio-titulo-img .titulo-header {
  color: white;
}
.header-inicio .nav-general-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.header-inicio .li-nav-general {
  margin: 10px;
  list-style: none;
  display: flex;
}
.header-inicio .ini {
  border-bottom: 2px solid yellow;
}
.header-inicio .nav-li-a {
  text-decoration: none;
  font-size: large;
  color: white;
}

/* Media queri: 420x530 100% */
@media screen and (min-width: 500px) and (max-width: 804px) {
  .header-inicio .li-nav-general {
    justify-content: center;
  }
  .header-inicio .per {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 805px) and (max-width: 1920px) {
  .header-inicio .nav-general-ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
}

.footer-inicio {
  background-color: #deb887;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.footer-inicio .footer-uno {
  margin-left: 10px;
}
.footer-inicio .footer-uno .footer-ul-li-a {
  text-decoration: none;
  color: black;
}
.footer-inicio .footer-dos {
  margin-top: 16px;
  margin-left: 10px;
}
.footer-inicio .footer-dos .redes-footer-img {
  width: 50px;
}
.footer-inicio .footer-dos .footer-ul-li-a {
  text-decoration: none;
  color: black;
}
.footer-inicio .footer-tres {
  text-align: center;
}
.footer-inicio .footer-tres .gm {
  font-size: 30px;
}
.footer-inicio .footer-cuatro {
  text-align: center;
}

/* div 1: SLADER */
.main-inicio {
  background-color: black;
}
.main-inicio .slider-frame {
  width: 100%;
  height: auto;
  margin: 0px auto 0;
  overflow: hidden;
}
.main-inicio .slider-frame .slider-img {
  margin-top: 0px;
}
.main-inicio .slider-frame .slider-img {
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: slide 20s infinite alternate ease-in-out;
          animation: slide 20s infinite alternate ease-in-out;
}
@-webkit-keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.main-inicio .slider-frame .li-slider {
  width: 100%;
  list-style: none;
}
.main-inicio .slider-frame .img-slader {
  width: 100%;
}
.main-inicio .main-text1 {
  width: 50% auto;
  text-align: center;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 20px;
  background-color: orangered;
  border-radius: 10%;
  letter-spacing: 0.09em;
  font-size: 1.2em;
}
.main-inicio .banner-food {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
  transition: 0.1s all ease-in-out;
}
.main-inicio .banner-food .img-banner-food {
  width: 100%;
  height: 100%;
  opacity: 80%;
}
.main-inicio .banner-food .p-banner-food {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 30%;
  text-shadow: 0 0 8px rgba(1, 1, 1, 0.8);
}
.main-inicio .banner-food .a-p-banner {
  text-decoration: none;
  -webkit-animation: pbanner 1s 1s infinite ease-in;
          animation: pbanner 1s 1s infinite ease-in;
  font-size: 2rem;
}
.main-inicio .banner-food .a-p-banner .banner-food .a-p-banner {
  text-decoration: none;
  -webkit-animation: pbanner 1s 1s infinite ease-in;
          animation: pbanner 1s 1s infinite ease-in;
  font-size: 500px;
}
@-webkit-keyframes pbanner {
  0% {
    color: black;
  }
  75% {
    color: green;
  }
  50% {
    color: red;
  }
  75% {
    color: blue;
  }
}
@keyframes pbanner {
  0% {
    color: black;
  }
  75% {
    color: green;
  }
  50% {
    color: red;
  }
  75% {
    color: blue;
  }
}

.banner-food:hover {
  transform: scale(1);
  border-radius: 30%;
}

@media screen and (min-width: 1001px) and (max-width: 2000px) {
  .main-text1 {
    background-color: red;
    width: 30% auto;
    text-align: center;
    margin-left: 26%;
    margin-right: 26%;
    margin-top: 20px;
    border-radius: 7%;
    letter-spacing: 1.5;
    line-height: 50px;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 800px) and (max-width: 2000px) {
  .banner-food .p-banner-food .a-p-banner {
    display: inline-block;
    position: relative;
    font-weight: 900;
    right: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 4rem;
  }
}
.main-catalogo .h1-main-catalogo {
  text-align: center;
  margin-top: 30px;
  -webkit-animation: h1-main-catalogo alternate infinite ease 2s 2s;
          animation: h1-main-catalogo alternate infinite ease 2s 2s;
}
@-webkit-keyframes h1-main-catalogo {
  0% {
    color: rgb(155, 27, 27);
  }
  25% {
    color: rgb(97, 24, 24);
  }
  50% {
    color: rgb(202, 115, 115);
  }
  75% {
    color: rgb(49, 11, 11);
  }
}
@keyframes h1-main-catalogo {
  0% {
    color: rgb(155, 27, 27);
  }
  25% {
    color: rgb(97, 24, 24);
  }
  50% {
    color: rgb(202, 115, 115);
  }
  75% {
    color: rgb(49, 11, 11);
  }
}
.main-catalogo .contenedor-principal-uno {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.main-catalogo .contenedor-principal-uno .contenedor-hijo-primero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.main-catalogo .contenedor-principal-uno .contenedor-hijo-primero .contenedor-hijo-img {
  width: 100%;
  grid-row: 1/3;
}
.main-catalogo .img-muestra1 {
  width: 100%;
  margin-top: 40px;
}
.main-catalogo .img-muestra2 {
  width: 100%;
  margin-top: 0px;
}

/* media querri: catalogo */
@media screen and (min-width: 1001px) and (max-width: 2980px) {
  .padre-catalogo {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .padre-catalogo .contenedor-principal-uno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    gap: 30px;
  }
  .padre-catalogo .contenedor-principal-uno .contenedor-hijo-primero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    margin-top: 125px;
    margin-left: 70px;
    border: 2px solid black;
  }
  .padre-catalogo .img-muestra2 {
    width: 100%;
    margin-left: 70px;
    margin-top: 40px;
    margin-right: 5px;
    border-radius: 5%;
    border: 2px groove #333;
  }
}
@media screen and (min-width: 883px) and (max-width: 1000px) {
  .padre-catalogo {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .padre-catalogo .contenedor-principal-uno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    gap: 30px;
  }
  .padre-catalogo .contenedor-principal-uno .contenedor-hijo-primero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    text-align: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 70px;
    border: 2px solid black;
  }
  .padre-catalogo .img-muestra2 {
    width: 100%;
    margin-left: 70px;
    margin-top: 30px;
    margin-right: 5px;
    border-radius: 5%;
    border: 2px groove #333;
  }
}
.main-reservas {
  background: url(../img/reserva/fondo-reservas.jpg);
}
.main-reservas .h1-reservas {
  text-align: center;
  color: black;
}
.main-reservas .h2-reservas {
  text-align: center;
  color: black;
}
.main-reservas .contenedor-h3-p-reservas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4rem;
}
.main-reservas .contenedor-h3-p-reservas .p-contenedor-reservas {
  border-top: 3px solid yellow;
  border-radius: 20%;
}
.main-reservas .contenedor-h3-p-reservas .h2-reservas {
  color: black;
  margin: 1px;
  font-size: 25px;
}
.main-reservas .h3-reservas {
  text-align: center;
  color: black;
  margin: 30px;
  font-size: 30px;
}
.main-reservas .contenedor-form-reservas .form-datos-reserva {
  text-align: center;
  color: black;
}
.main-reservas .contenedor-form-reservas .input-reservas {
  padding: 10px;
  height: 50px;
  width: 300px;
  margin: 10px;
  background: transparent; /* agregar hover */
  color: black;
  border-radius: 5%;
}
.main-reservas .contenedor-texto-completar {
  text-align: center;
}
.main-reservas .contenedor-texto-completar .texto-completar {
  width: 300px;
  margin-top: 30px;
  height: 180px;
  background: transparent;
  color: black;
  padding: 10px;
}

.contenedor-boton-presupuesto {
  text-align: center;
}
.contenedor-boton-presupuesto .boton-presupuesto {
  width: 50%;
  margin-top: 50px;
  height: 50px;
  border-radius: 80px;
  background-color: pink;
}

.contendor-ubicacion-mapa-inframe {
  margin-top: 190px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgba(27, 24, 24, 0.9);
}
.contendor-ubicacion-mapa-inframe .contenedor-inframe {
  text-align: center;
}
@media screen and (min-width: 600px) and (max-width: 810px) {
  .contendor-ubicacion-mapa-inframe .inframe-mapa {
    margin-top: 50px;
    width: 570px;
  }
}
@media screen and (min-width: 810px) and (max-width: 3000px) {
  .contendor-ubicacion-mapa-inframe .inframe-mapa {
    margin-top: 100px;
    width: 800px;
  }
}
.contendor-ubicacion-mapa-inframe .contenedor-datos {
  margin-top: 70px;
}
.contendor-ubicacion-mapa-inframe .contenedor-datos .contendor-datos-h3 {
  text-align: center;
  font-size: 2.5em;
}
.contendor-ubicacion-mapa-inframe .contenedor-datos .hijo-datos-secundarios {
  text-align: center;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}
.contendor-ubicacion-mapa-inframe .contenedor-datos .hijo-datos-secundarios .hijos-datos .datos-spam {
  color: red;
}

.main-personas .h1-chef {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  border-bottom: 9px outset green;
}
.main-personas .h2-chef {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}
.main-personas .h4-mozos {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}
.main-personas .contenedor-chef {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.main-personas .contenedor-chef .general-chef {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}
.main-personas .contenedor-chef .general-chef .imagenchefs {
  width: 300px;
}
.main-personas .contenedor-chef .general-chef .general-texto-chef {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-personas .contenedor-chef .general-chef-2 {
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}
@media screen and (min-width: 880px) and (max-width: 3000px) {
  .main-personas .contenedor-chef {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .main-personas .contenedor-chef .general-chef {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
  }
  .main-personas .contenedor-chef .general-chef .imagenchefs {
    width: 300px;
  }
  .main-personas .contenedor-chef .general-chef .general-texto-chef {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-personas .contenedor-chef .general-chef-2 {
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
  }
  .main-personas .contenedor-chef .general-chef-2 {
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .main-personas .contenedor-chef {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main-personas .contenedor-chef .general-chef {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
  }
  .main-personas .contenedor-chef .general-chef .imagenchefs {
    width: 300px;
  }
  .main-personas .contenedor-chef .general-chef .general-texto-chef {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
  }
  .main-personas .contenedor-chef .general-chef-2 {
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
  }
}

/*.contenedor-chef {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .general-chef {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top: 3px solid red;
            border-bottom: 3px solid red;
            .imagenchefs {
                width: 300px;
            }
            .general-texto-chef {
                text-align: end;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    } */
.main-extra .h1-apk {
  text-align: center;
  margin-top: 40px;
  -webkit-animation: h1extra 3s 1s ease-in-out infinite;
          animation: h1extra 3s 1s ease-in-out infinite;
}
@-webkit-keyframes h1extra {
  0% {
    color: black;
    border-top: 1px solid rgb(55, 0, 255);
  }
  25% {
    color: #333;
    border-left: 1px solid rgb(23, 9, 73);
  }
  50% {
    color: rgb(107, 103, 103);
    border-right: 1px solid rgb(18, 3, 75);
  }
  75% {
    color: rgb(143, 140, 140);
  }
  100% {
    color: black;
    border-top: 1px solid rgb(73, 32, 221);
  }
}
@keyframes h1extra {
  0% {
    color: black;
    border-top: 1px solid rgb(55, 0, 255);
  }
  25% {
    color: #333;
    border-left: 1px solid rgb(23, 9, 73);
  }
  50% {
    color: rgb(107, 103, 103);
    border-right: 1px solid rgb(18, 3, 75);
  }
  75% {
    color: rgb(143, 140, 140);
  }
  100% {
    color: black;
    border-top: 1px solid rgb(73, 32, 221);
  }
}
.main-extra .contenedor-apk {
  background-color: rgb(250, 250, 250);
}
.main-extra .contenedor-apk .h2-apk {
  text-align: center;
  margin-top: 20px;
}
.main-extra .contenedor-apk .h2-apk .a-apk {
  color: skyblue;
}
.main-extra .contenedor-apk .apk-img-playstore {
  text-align: center;
}
.main-extra .contenedor-apk .apk-img-apple {
  text-align: center;
  margin-top: 50px;
}

@media screen and (min-width: 800px) and (max-width: 2000px) {
  .banner-food .a-p-banner {
    text-decoration: none;
    -webkit-animation: pbanner 1s 1s infinite ease-in;
            animation: pbanner 1s 1s infinite ease-in;
    font-size: 500px;
  }
}/*# sourceMappingURL=style.css.map */