.footer-inicio {
  background-color: #deb887;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  .footer-uno {
    margin-left: 10px;
    .footer-ul-li-a {
      text-decoration: none;
      color: $colorMainPrin;
    }
  }
  .footer-dos {
    margin-top: 16px;
    margin-left: 10px;
    .redes-footer-img {
      width: 50px;
    }
    .footer-ul-li-a {
      text-decoration: none;
      color: $colorMainPrin;
    }
  }
  .footer-tres {
    text-align: center;
    .gm {
      font-size: 30px;
    }
  }
  .footer-cuatro {
    text-align: center;
  }
  }
  