@mixin h-reservas {
    text-align: center;
    color: black;
}
.main-reservas {
    background: url(../img/reserva/fondo-reservas.jpg);
 .h1-reservas {
    @include h-reservas();
}
 .h2-reservas {
    @include h-reservas();
}
 .contenedor-h3-p-reservas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4rem;
    .p-contenedor-reservas {
        border-top: 3px solid yellow;
        border-radius: 20%
    }
    .h2-reservas {
        color: black;
        margin: 1px;
        font-size: 25px;
    }
}
.h3-reservas {
    @include h-reservas();
    margin: 30px;
    font-size: 30px;
}
.contenedor-form-reservas {
.form-datos-reserva {
    @include h-reservas();
    }
    .input-reservas {
        padding: 10px;
        height: 50px;
        width: 300px;
        margin: 10px;
        background: transparent; /* agregar hover */
        color: black;
        border-radius: 5%;
    }
}
.contenedor-texto-completar {
    text-align: center;
    .texto-completar {
        width: 300px;
        margin-top: 30px;
        height: 180px;
        background: transparent;
        color: black;
        padding: 10px;
        }
      }
    }
    .contenedor-boton-presupuesto {
        text-align: center;
    .boton-presupuesto {
        width: 50%;
        margin-top: 50px;
        height: 50px;
        border-radius: 80px; 
        background-color: pink;
       }
    }
    .contendor-ubicacion-mapa-inframe {
        margin-top: 190px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: rgba(27, 24, 24, 0.9);
        .contenedor-inframe {
            text-align: center;
          }
          @media screen and (min-width: 600px) and (max-width:810px) {
            .inframe-mapa {
                margin-top: 50px;
                width: 570px;
            }
        }
          @media screen and (min-width: 810px) and (max-width:3000px) {
            .inframe-mapa {
                margin-top: 100px;
                width: 800px;
            }
        }
        .contenedor-datos {
            margin-top: 70px;
        .contendor-datos-h3 {
            text-align: center;
            font-size: 2.5em;
        }
        .hijo-datos-secundarios {
            text-align: center;
            display: grid;
            margin-top: 50px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;
            .hijos-datos {
                .datos-spam {
                    color: red;
                }
            }
        } 
      }
    }


