@media screen and (min-width: 400px) and (max-width: 913px) {
    .main-reservas {
        .contendor-ubicacion-mapa-inframe {
            margin-left: 20px;
            margin-top: 190px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: rgba(211, 9, 9, 0.9);
    }
 }
}