@media screen and (min-width: 800px) and (max-width: 2000px) {
  .banner-food {
    .a-p-banner {
    text-decoration: none;
    animation: pbanner 1s 1s infinite ease-in;
    font-size: 500px;
    }
  }
}